* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*
 #a59c3d
 #d2b3d4

 #369f3d
 #1204ba */

.container {
  background: linear-gradient(135deg, #a59c3d, #d2b3d4);
  width: 100%;
  min-height: 100vh;
  padding-top: 4%;
  padding-left: 10%;
}

.container h1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}

.container h1 img {
  width: 60px;
}

.create {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(#369f3d, #1204ba);
  padding: 15px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin: 20px 0 30px;
}

.create img {
  width: 25px;
}

.note {
  color: #333;
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  padding: 20px;
  margin: 20px 0;
}

.note img {
  width: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
