@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #d9b2e6
#4f5294

#a677bd
#56107b */

body {
  font-family: "Poppins", serif;
}

.container {
  background: linear-gradient(135deg, #d9b2e6, #4f5294);
  min-height: 100vh;
  padding-top: 4%;
  padding-left: 10%;
}

.container h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.container h1 img {
  width: 60px;
}

.createBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 16px;
  background: linear-gradient(#a677bd, #56107b);
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin: 30px 0 20px;
}

.createBtn img {
  width: 25px;
}

.note {
  position: relative;
  color: #333;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
}

.note img {
  position: absolute;
  width: 25px;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}
