* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: lightcoral;
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.arrow {
  cursor: pointer;
}

.right {
  transform: rotate(180deg);
}

.frame {
  width: 50%;
  /* height: 500px; */
  overflow: hidden;
  aspect-ratio: 16/9;
  /* width要改為%，height不要設定，rwd會有效果 */
}

.slider {
  display: flex;
  transition: all 1s ease;
}

.image {
  display: block;
  width: 100%;
  object-fit: contain;
}

.bottom {
  display: flex;
  gap: 20px;
}

.button {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
