* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  padding-top: 4%;
  padding-left: 10%;
}

.container h1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}

.container h1 img {
  width: 60px;
}

.createBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(#9418fd, #571094);
  padding: 15px 25px;
  border: none;
  border-radius: 40px;
  margin: 30px 0 20px;
  cursor: pointer;
}

.createBtn img {
  width: 25px;
}

.note {
  position: relative;
  color: #333;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  padding: 20px;
  margin: 20px 0;
}

.note img {
  position: absolute;
  width: 25px;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
