* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  background-color: #070a24;
}

/* #3f8722 */

.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}

.container h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}

.container h1 span {
  color: #3f8722;
  border-bottom: 4px solid #3f8722;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 16px 26px;
  border-radius: 5px;
}

.password {
  color: #333;
  font-size: 24px;
  border: none;
  outline: none;
}

.display img {
  width: 30px;
  cursor: pointer;
}

.generate {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #3f8722;
  font-size: 22px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.generate img {
  width: 30px;
  margin-right: 10px;
}
