body {
  font-family: "Open Sans", serif;
}

.container {
  padding: 50px;
  display: flex;
}

.leftMenu {
  flex: 1;
}

.search {
  width: 200px;
  padding: 10px;
  border: 1px solid gray;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  color: #333;
}

.cates {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cate {
  font-size: 20px;
  padding: 5px;
  font-weight: 300;
  cursor: pointer;
}

.content {
  flex: 4;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

img {
  width: 150px;
  height: 250px;
  object-fit: contain;
}

.name {
  font-weight: 300;
}
